<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<!-- <link rel="stylesheet" type="text/css" href="login.css">
 -->
 <link rel="stylesheet" type="text/css" href="style.css">
  
 <!-- google fonts librairy -->
<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
  <div class="container">
    <h1>Welcome To Tringua Fundraising</h1>
    <div class="login-form">
      <form class="login-form" action="/login" method="get">
        <label>
          <span>Username:</span>
          <input type="text" name= "username" />
        </label>
        <label>
          <span>Password:</span>
          <input type= "password" name="password" />
        </label>

        <div class="actions">
          <input type="submit" value="Login" />
        </div>
        <div class="sign_up">
          <a href="sign_up"><button type="button">Sign up</button></a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
